main{
    color: #fff;
}

header{
    background-image: linear-gradient(to top, rgba(9, 32, 63, 0.8) 0%, rgba(83, 120, 149, 0.8) 100%), url(./img/portada2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

.centrado{
    margin: 20vh auto; 
}

.contenedor1, .contenedor3{
    background: #222;
}

.contenedor2, .contenedor4{
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

/*Imagenes*/
.imgPerfil{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.imgDisenio{
    width: 100%;
}

.color{
    background-color: black;
}

/*Ola*/
.imgCarrousel{
    height: 400px;
    object-fit: contain;
}
.wave {
    height: 200px; 
    overflow: hidden;
}
svg {
    height: 100%; 
    width: 100%;
}
path {
    stroke: none; 
    fill: #222;
}

/*Cajas Ocultas*/
.caja2, .caja3{
    display: none;
}

/*Logos*/
.logos{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/*Footer*/
.espacio_footer {
    padding: 8px 0;
}
